doctype html
html.no-js
  block head
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      title= page.title+'|BC 2014'
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href=locals.url + '/dist/css/bc14.css')
  body

    .header-container
      header.wrapper.clearfix(role="banner")
        block heaader
          h1.title=page.title
          img.brand-logo(src=locals.url+'/img/badcamp-logo-2014.jpg' alt="Badcamp drupal icon of a drop wearing an eyepatch")
    .main-container
      main.main.wrapper.clearfix(role="main")
        block content
          if page && page.html
            != typogr(page.html).typogrify()
        include btns.jade
    .footer-container
      footer.wrapper(role="contentinfo")
        block footer
          h3 footer
    .scripts
      block scripts
      script(src=locals.url + '/dist/js/bc14.js')
